.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navbar {
  height: 100px;
  width: 100%;
  background-color: #6A90CD;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem 1.5rem;
}

.header_title {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  border-bottom: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header_title button {
  background-color: #2964C0;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.header_title button:hover{
  background-color: #1f509e;
}

.nav_logo {
  font-weight: bold;
  color: #122D58;
  font-size: 18pt;
  text-transform: uppercase;
}

.nav_buttons {
  font-size: 1.2rem;
  display: flex;
}

.spacer {
  width: 50px;
}

.nav_buttons a {
  color: #122D58;
  text-decoration: none;
  font-weight: 500;
}

.nav_buttons a:hover,
.nav_buttons a:active,
.nav_buttons a:focus {
  text-decoration: underline;
  color: #122D58;
}

.nav_account {
  color: #515151;
  height: 100%;
  width: 220px;
  border-radius: 5px;
  background: #BDD2F3;
  padding: 0 15px;
  display: inline-flex;
  align-items: center;
}

.nav_account:hover {
  background: #96aed6;
}

.nav_account p {
  line-height: 1;
  margin: 0;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accountImage {
  padding-right: 10px;
}

.accountInfo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
}

.card {
  margin: 1rem;
  padding: 10px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #BDD2F3;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.item_desc {
  display: flex;
}

.item_desc_text {
  padding-left: 10px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
